<!--<h1>UPPERCASE PIPE</h1>
<b>{{title | uppercase}}</b><br>
<h1>LOWERCASE PIPE</h1>
<b>{{title | lowercase}}</b><br>
<h1> DATE PIPE</h1>
<b>{{todaydate | date:'d/M/y'}}</b><br>
<b>{{todaydate | date:'shortTime'}}</b><br>
<h1> DECIMAL PIPE</h1>
<b>{{439.2349875786453 | number:'3.4-4'}}</b><br>
<h1> CURRENCY PIPE</h1>
<b>{{47.23 | currency:"USD":false}}</b><br>
<b>{{47.23 | currency:"USD":true}}</b><br>
<b>{{47.23 | currency:"INR":false}}</b><br>
<b>{{47.23| currency:"INR":true}}</b><br>
<h1> JSON PIPE</h1>
<b>{{jsonval | json}}</b><br>
<h1> PERCENT PIPE</h1>
<b>{{000.54565 | percent}}</b><br>
<h1> SLICE PIPE</h1>
<b>{{months | slice: 2:8 }}</b><br>
<h1>CUSTOM PIPE</h1>
<b>FLOOR VALUE OF 25.98: {{25.98 | flr }} </b><br>
<b>FLOOR VALUE OF 798567.5678: {{798567.5678 | flr }} </b><br>
<h1>REVERSE PIPE</h1>
<b>STRING REVERSAL   {{ name | rev }} </b><br>-->

<a routerLink="home"> Home</a>&nbsp;&nbsp;
<a routerLink="blog">  Blog </a>&nbsp;&nbsp;
<a routerLink="about"> About </a>

<!--<a routerLink="order/23"> Order Coponent </a>
<a routerLink="home/priya"> Home Component</a>-->

 <!--<a routerLink="employee"> Employee Component </a>-->

 <!--<a routerLink="productlist"> Productlist Component </a>
 <a routerLink="order"> Order Component </a>-->
 <app-signup></app-signup>
<router-outlet></router-outlet>