<form #signupForm="ngForm">
    <fieldset>
        <legend>SIGN UP</legend>

        <div class="form-group">
            <label for="inputEmail">EMAIL</label>
            <input type="text" required [(ngModel)]="user.email" id="inputEmail" name="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="inputPassword">PASSWORD</label>
            <input type="password" required [(ngModel)]="user.password.pwd"  name="pwd" placeholder="password">
        </div>

        <div class="form-group">
            <label for="confirmPassword"> CONFIRM PASSWORD</label>
            <input type="password" required [(ngModel)]="user.password.confirmpwd"  name="confirmpwd" placeholder="confirm password">
        </div>
        <div class="form-group">
            <label for="select">GENDER</label>
            <select id="select" required [(ngModel)]="user.gender"  name="gender">
                <option *ngFor="let g for gender" [value]="g"> {{g}} </option>
                </select>
        </div>

        <div class="form-group">
            <button type="reset"> CANCEL</button>
            <input type="submit" [disabled]="!signupForm.valid">
        </div>
    </fieldset>
</form>
{{user | json}}
